{% extends "wkbase.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% set active_page = '/alertconfig' %}
{% block body_with_flasher %}
    <div class="container">
        <div class="page-header">
            <h3>Alerts Config</h3>
        </div>
         <blockquote>
            Manage alerts.
         </blockquote>
         {{ wtf.quick_form(form, action='/alertconfig',  buttons =  [('submit', 'primary', 'Create or Update')]) }}
        <table class="table">
            <thead>
              <tr>
                  <th>Target</th>
                  <th>Attribute</th>
                  <th>Operator</th>
                  <th>Value</th>
              </tr>
            </thead>
            <tbody>
             {% for row in vals %}
                <tr>
                  <td>{{ row.target }}</td>
                  <td>{{ row.attribute }}</td>
                  <td>{{ row.op }}</td>
                  <td>{{ row.value }}</td>
                <tr>
             {% endfor %}
            <tbody>
        </table>
   </div>
{% endblock %}
